@font-face {
  src: url(fonts/Pixeled.ttf);
  font-family: pixeled;
}

body {
  text-align: center;
  font-family: 'pixeled';
  font-size: 0.9em;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 3em;
  margin: 0.1em;
  -webkit-text-stroke: 1px black;
  color: black;
  text-shadow: 3px 3px 0 rgb(207, 24, 161), -1px -1px 0 rgb(207, 24, 161),
    1px -1px 0 rgb(207, 24, 161), -1px 1px 0 rgb(207, 24, 161),
    1px 1px 0 rgb(207, 24, 161);
}

h2 {
  display: inline-block;
  position: relative;
  top: 0.2em;
  font-size: 1.2em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type='number'] {
  width: 6em;
  height: 1.5em;
  position: relative;
  bottom: 0.5em;
  margin-right: 0.5em;
}

input:value {
  color: rgb(0, 0, 0);
}

form {
  color: rgb(255, 255, 255);
}

#inlineBlock {
  text-align: center;
}

#submitButton {
  font-family: 'pixeled';
  background: -webkit-linear-gradient(
    rgb(0, 255, 13),
    rgb(248, 248, 248)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-transform: lowercase;
  border: solid white 2px;
  padding: 0em 1.2em 0.5em 1.2em;
  position: relative;
  bottom: 0.5em;
}

#submitButton:hover {
  border: solid rgb(207, 24, 161) 2px;
  cursor: pointer;
}

#pixelCanvas {
  background: white;
}
